/*General rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*HTML specific rules*/
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    font-size: 16px;
    background-color: white;
    background: linear-gradient(to right, white, whitesmoke);
    max-width: 80rem;
    margin: auto;
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: normal;
    font-size: 2rem;

    background-color: black;
    opacity: 0.85;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0.8rem 1.7rem;
    border-radius: 0 0 1.5rem 1.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  #menu {
    display: none;
  }

  /*Adjust decoration for anchor tags*/
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: gray;
  transition: color 0.15s ease-in;
}

a:active {
  text-decoration: none;
  color: black;
}



/*Header -------------------------------------------------------------------*/
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 3rem;
  border-bottom: 1px solid rgb(202, 202, 181);
}

.header-container img {
  width: 4.5rem;
  height: 3rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar a {
  text-align: center;
  border-right: 1px solid black;
  padding: 0.4rem 1rem;
  width: 7rem;
}


.navbar #joinus {
  border-right: none;
}

.navbar a:hover{
  font-weight: bold;
}



@media screen and (max-width: 720px) { 
  .navbar  {
   display: none;
 } 
}



/*Splash page statement -------------------------------------------------------------------*/
.mission-container {
  background-image: url("resources/classes-cycling.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  /*border-radius: 1.5rem;*/
  
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  
  /*margin: 0 1.5rem;*/
  min-height: 500px;
  font-size: 1.6rem;
  color: white;

  border: 1px solid black;
  
  
}

.mission-container h1  {
  background-color: black;
  width: 100%;
  opacity: 0.85;
  padding-bottom: 0.5rem;
  padding: 0 1rem;
}

.mission-container p {
  background-color: black;
  width: 100%;
  opacity: 0.85;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

/*About us -----------------------------------------------------------------*/
.aboutus {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  background: linear-gradient(to right, white, whitesmoke);
}

.aboutus h1 {
  padding-bottom: 0.5rem;
  text-align: center;
}

.aboutus p {
  font-style: italic;
  text-align: center;
}

/*Gym facilities -------------------------------------------------------------------*/
.offers h1 {
  padding: 0.5rem 1rem;
  text-align: left;
}

.offers p {
  padding: 0.5rem 1rem;
}

.cases {
  display: flex;
  margin: 0 2rem;
  flex-wrap: wrap;
}

.case {
  border: 1px solid black;
  display: flex;
  align-items: flex-end;

  width: 300px;
  height: 300px;
  margin: 0.07rem;
  border-radius: 1.5rem;
}

.case:hover  {
  border: 2px solid whitesmoke;
}

.description {
  background-color: black;
  opacity: 0.85;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0.8rem 1.7rem;
  border-radius: 0 0 1.5rem 1.5rem;
}

#equipment2 {
  flex-grow: 1;
  background-image: url("resources/equipment2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#equipment3 {
  flex-grow: 2;
  background-image: url("resources/equipment3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#equipment4 {
  flex-grow: 2;
  background-image: url("resources/equipment4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#equipment5 {
  flex-grow: 1;
  background-image: url("resources/equipment5.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#equipment6 {
  flex-grow: 1;
  background-image: url("resources/equipment6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#equipment7 {
  flex-grow: 1;
  background-image: url("resources/equipment7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#equipment8 {
  flex-grow: 1;
  background-image: url("resources/equipment8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers h1 {
  padding-bottom: 0.5rem;
  text-align: center;
}

.offers p {
  font-style: italic;
  text-align: center;
}

/*Facilities -------------------------------------------------------------------*/
.team h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.teamcont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
}

.team-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 300px;
  height: 400px;
  margin: 1rem;
  border-radius: 1.5rem;
}

.team-container h2, .team-container p {
  background-color: black;
  color: white;
  opacity: 0.85;
  padding-left: 1rem;
  width: 100%;
  border-radius: 0 0 1.5rem 1.5rem;
} 

#facilities1 {
  background-image: url("resources/facilities-lockerroom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#facilities2 {
  background-image: url("resources/facilities-swimming_course.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

#facilities3 {
  background-image: url("resources/facilities-steamroom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#facilities4 {
  background-image: url("resources/facilities-jacuzi.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Classes -------------------------------------------------------------------*/
.classes h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.classcont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
}

.class-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 300px;
  height: 400px;
  margin: 1rem;
  border-radius: 1.5rem;
}

.class-container h2, .class-container p {
  background-color: black;
  color: white;
  opacity: 0.85;
  padding-left: 1rem;
  width: 100%;
  border-radius: 0 0 1.5rem 1.5rem;
} 

#class1 {
  background-image: url("resources/classes-boxing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#class2 {
  background-image: url("resources/classes-crossfit.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

#class3 {
  background-image: url("resources/classes-cycling.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#class4 {
  background-image: url("resources/classes-yoga.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}






/*Contact Details -------------------------------------------------------------------*/
.contactdetails p {
  text-align: center;
  padding: 0.5rem;
}

.contactdetails  {
  padding-bottom: 1rem;
}

/*Footer -------------------------------------------------------------------*/
footer {          
  padding: 12px 30px;
  border-top: 2px solid #282B37;
  background-color: rgb(19, 19, 19);
}

footer p,
footer a {
  font-size: 0.75rem;
  text-align: center;
  color: #797A7F; 
}
